<div class="flex justify-center">
  <div class="w-full max-w-xs"> 
    <form [formGroup]="userForm" id="itemForm" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 content-center" >
        <fieldset class="{{'fieldset'}}">
            <legend class="{{'fieldset-legend'}}">Elektronska pošta:</legend>
            <label class="input validator">
                <input type="email" id="username" formControlName="email" placeholder="Vnesi elektronsko pošto" email="true" email required />
        </label>  
        </fieldset>

        <fieldset class="{{'fieldset'}}">
            <legend class="{{'fieldset-legend'}}">Telefonska številka:</legend>
            <label class="input validator">
                <input type="tel" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" placeholder="Vnesi telefonsko številko" required />
            </label>
        </fieldset>

        <fieldset class="{{'fieldset'}}">
            <legend class="{{'fieldset-legend'}}">IBAN:</legend>
            <label class="input validator">
                <input type="text" id="iban" name="iban"  formControlName="iban" placeholder="Vnesi veljaven IBAN" required />
          </label>  
        </fieldset>
        <fieldset class="{{'fieldset'}}">
          <legend class="{{'fieldset-legend'}}">Geslo:</legend>
          <label class="input validator">
              <input type="password" id="password" formControlName="password" placeholder="Vnesi geslo..." required/>
          </label>
        </fieldset>
        <fieldset class="{{'fieldset'}}">
          <legend class="{{'fieldset-legend'}}">Potrdi geslo:</legend>
          <label class="input validator">
              <input type="password" id="passwordConfirm" formControlName="passwordConfirm" placeholder="Potrdi geslo..." required/>
          </label>
          @if (this.password?.value != this.passwordConfirm?.value 
            && this.password?.value != null
            && this.passwordConfirm?.value != null
          )  
          {
            <div role="alert" class="text-red-600 alert-error">
              <span>Gesla se rabijo ujemati!</span>
            </div>
          }
        </fieldset>
        <div class="text-center flex items-center justify-between">
              <button (click)="registerBtnClick()" class="{{'btn'}}" [disabled]="userForm.invalid || isLoading" type="submit">
                Prijavi
                @if (isLoading) 
                {
                  <span class="loading loading-spinner loading-sm"></span>
                }
              </button>
        </div>
    </form>
  </div>
</div>