<ul> 
    <li class="flex flex-wrap md:inline-flex bg-base-100 " *ngFor="let item of items()">
        <div class="{{'card'}} bg-base-100 w-96 shadow-sm mx-7 my-5">
            <div class="{{'card-body'}}">
              <h2 class="{{'card-title'}}">{{item.name}}</h2>
              <p>{{item.description}}</p>
              <ul>
                <li>{{item.price}} €</li>
                <li>{{item.quantity}} {{item.unitOfMeasure}}</li>
              </ul>
            </div>
            <div class="flex items-center justify-center gap-2">
              <button (click)="clickNavigateEditForm(item.id.toString())" class="{{'btn btn-neutral'}}">Uredi</button>
              <button (click)="clickRemoveItemBtn(item.id.toString())" class="{{'btn btn-soft btn-error'}}">Odstrani</button>
              @if (isLoggedIn() == true) 
              {
                <button>Začni pogajanje</button>
              }
            </div>
            
            <figure>
              <img
                src=""
                alt="" />
            </figure>
        </div>
    </li>
</ul>
