<div class="flex flex-wrap md:inline-flex bg-base-100 ">
    <ul *ngFor="let item of mockItems">
        <div class="{{'card'}} bg-base-100 w-96 shadow-sm mx-7 my-5">
            <div class="{{'card-body'}}">
              <h2 class="{{'card-title'}}">{{item.name}}</h2>
              <p>{{item.description}}</p>
              <ul>
                <li>{{item.price}} €</li>
                <li>{{item.quantity}} {{item.quantityName}}</li>
              </ul>
            </div>
            <figure>
              <img
                src=""
                alt="Shoes" />
            </figure>
        </div>
    </ul>
</div>