<form id="itemAddForm" class="">
  <div>
    <label for="itemName" class="">Ime izdelka:</label>
    <input id="itemName" type="text" class="" />
  </div>

  <div>
    <label for="quantity" class="">Količina:</label>
    <input id="quantity" type="number" class="" />
  </div>

  <div>
    <label for="measureUnit" class="">Merska enota:</label>
    <input id="measureUnit" type="text" class="" />
  </div>

  <div>
    <label for="description" class="">Opis izdelka:</label>
    <textarea id="description" class=""></textarea>
  </div>
 <h1>hello?</h1>
  <div class="text-right">
    <button class="{{'btn'}}" type="submit" class="">
      Dodaj izdelek
    </button>
  </div>
</form>
